
.aboutUs{
    height: 500px;
    width: 100%;
    background-image: url('./img/About/aboutUs.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    font-size: 80px;
    font-family: 'Viga', sans-serif;
    color: white;
    padding-left: 200px;
    padding-top: 100px;
}
   
.aboutTitle{
    font-size: 20px;
}

.about{
    color: #63656d; 
}
.aboutTCKF{
    img{
        height: 350px;
    }
}

@media(max-width: 575px){
    .aboutUs{
        font-size: 50px;
    }
}





