.advancedTitle{
    height: 500px;
    width: 100%;
    background-image: url('./img/Classes/Advanced.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    font-size: 80px;
    font-family: 'Viga', sans-serif;
    color: white;
    padding-left: 200px;
    padding-top: 100px;
}
.container{
    padding: 20px;
    .advanced{
        color: #63656d;
    }
} 
  
.BlackBeltPic{
    height: 600px;  
}

@media(max-width: 872px){
    .advancedTitle{
        font-size: 50px;
    }
}