 /* The navigation bar */
 
.headerTitle{
    width: 100%;
    overflow: hidden;
    background-color: white;
    position: fixed;
    z-index:1;
    padding: 8px;
    font-size: 40px;
    color: #0e0459;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    img{
        height: 38px;
    }
}


.navbar{
    .dropdown{
        .dropdown-menu{
            .dropdown-item{
                color: white;
            }
        }
    }
    
}



