.littleDragonsTitle{
    height: 500px;
    width: 100%;
    background-image: url('./img/Classes/LilDragons.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    font-size: 80px;
    font-family: 'Viga', sans-serif;
    color: white;
    padding-left: 200px;
    padding-top: 100px;
}
.container{
    .littleDragons{
        color: #63656d;
    }
}

@media(max-width: 785px){
    .littleDragonsTitle{
        font-size: 30px;
    }
}